name: build-and-push-to-repo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 0 0 * * 0

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      
      - name: Install flatpak-builder
        run: sudo apt-get install -y flatpak flatpak-builder
        
      - name: Add flathub remote
        run: sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
      
      - name: Configure GPG
        run: |
          mkdir -p gpg
          printf "$GPG_PRIVATE_KEY" | base64 --decode > private.key
          gpg --homedir gpg --import private.key
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: io.neovim.nvim
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub io.neovim.nvim "$GITHUB_WORKSPACE"/manifests/io.neovim.nvim/io.neovim.nvim.yaml
        
      - name: org.multimc.MultiMC5
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.multimc.MultiMC5 "$GITHUB_WORKSPACE"/manifests/org.multimc.MultiMC5/org.multimc.MultiMC5.json

      - name: gg.slippi.Ishiiruka
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub gg.slippi.Ishiiruka "$GITHUB_WORKSPACE"/manifests/gg.slippi.Ishiiruka/gg.slippi.Ishiiruka.json

      - name: com.devrs.GBMB
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub com.devrs.GBMB "$GITHUB_WORKSPACE"/manifests/com.devrs.GBMB/com.devrs.GBMB.json

      - name: com.devrs.GBTD
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub com.devrs.GBTD "$GITHUB_WORKSPACE"/manifests/com.devrs.GBTD/com.devrs.GBTD.json

      - name: org.bircd.bgb
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.bircd.bgb "$GITHUB_WORKSPACE"/manifests/org.bircd.bgb/org.bircd.bgb.json

      - name: org.freedesktop.Sdk.Extension.gbdk-2020
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.gbdk-2020 "$GITHUB_WORKSPACE"/manifests/org.freedesktop.Sdk.Extension.gbdk-2020/org.freedesktop.Sdk.Extension.gbdk-2020.json

      - name: Sign repo
        run: |
          sudo flatpak build-sign repo --gpg-sign="$GPG_PUBLIC_KEY" --gpg-homedir=gpg
          sudo flatpak build-update-repo repo --gpg-sign="$GPG_PUBLIC_KEY" --gpg-homedir=gpg
          sudo sh -c "gpg --homedir=gpg --export $GPG_PUBLIC_KEY > repo/key.gpg"
        env:
          GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}

      - name: Push to repo
        uses: cpina/github-action-push-to-another-repository@master
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: repo
          destination-github-username: 'Ma1thew'
          destination-repository-name: 'flatpaks'
          target-branch: 'main'
